<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="websocket.mappers.ApacheMapper">

      <select id="getApache" resultType="ApacheVO" parameterType="ApacheVO">
            SELECT * FROM apache
      </select>
      
      <select id="getApacheCount" resultType="ApacheVO">
            SELECT code AS keyword, COUNT(*) AS val FROM apache GROUP BY code
      </select>

      <select id="getApacheError" resultType="ApacheVO" parameterType="String">
            SELECT * FROM apache WHERE 
             <![CDATA[
            code >= 300 
            AND code < 600
            AND wdate >= #{value}
            ]]>
      </select>
      
      <select id="getApacheErrorCount" resultType="ApacheVO" parameterType="String">
            SELECT code AS keyword, COUNT(*) AS val FROM apache 
             <![CDATA[
            code >= 300 
            AND code < 600
            AND wdate >= #{value}
            ]]>
            GROUP BY code
      </select>
      
</mapper>

