<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
      <typeAliases>
            <typeAlias alias="S3VO" type="com.test.LogViewer.vo.S3VO"></typeAlias>
            <typeAlias alias="ApacheVO" type="com.test.LogViewer.vo.ApacheVO"></typeAlias>
      </typeAliases>
</configuration>